@CHARSET "UTF-8";

body{
	padding-top: 70px;
	padding-bottom: 20px;
}

body {
	font-family: 'thaisansneue_semibold' !important;
	font-weight: normal !important;
}

h1, h2, h3, h4 {
	font-family: 'thaisansneue_bold' !important;
	font-weight: normal !important;
}

label {
	font-family: 'thaisansneue_bold' !important;
	font-weight: normal !important;
}

th {
	font-family: 'thaisansneue_black' !important;
	font-weight: normal !important;
}

.panel-title {
	font-size: 24px;
}

.navbar-fixed-top {
	background-color: #ffa000;
	border-color: #e7e7e7;
}

.navbar-fixed-top .navbar-nav>li>a:hover {
	background-color: #ffcc77;
	color: #000;
}

.navbar-header a,.navbar-nav li a {
	color: white;
}

.logo_brand {
	max-width: 30px;
	max-height: 30px;
}

.navbar-brand > img {
	display: inline-block;
}

.navbar-toggle {
	border-color: #9d5804;
}

.navbar-toggle .icon-bar {
	background-color: #9d5804;
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus,.nav>li>a:hover,.nav>li>a:focus
	{
	background-color: #ffa000;
}

.dropdown-menu  li a {
	color: black;
}

.space-nav {
	height: 60px;
}

.videoHead {
	text-align: center;
}

.Ingres {
	text-align: center;
}

.nav-tabs li {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	background: #ffa000;
	
}
.nav-tabs li a{
	color: white;
	border: 0 !important;
}
.nav-tabs li.active a {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	background: #F57F17;
	color: white;
}
.nav-tabs li a:hover {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	background: #F57F17;
	color: white;
}
.nav-tabs li.active a:hover {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	background: #F57F17;
	color: white;
}
.checkboxcol{
	padding-top: 5%;
	padding-bottom: 5%;
}
.checkboxcol .checkbox {
	display: inline-block;
	max-width: 300px;
	
}
.chtest{
	width: 17%
}


.jumboImg {
	display: inline-block;
	max-height: 180px;
	max-width: 180px;
}

.searchButt {
	margin-top: 10px;
	margin-bottom: 10px;
}


.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
}

.rating span {
	display: inline-block;
	position: relative;
	width: 1.1em;
}

.rating span:hover,.rating span:hover ~ span {
	color: transparent;
}

.rating span:hover:before,.rating span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: gold;
}
.FavButt{
	top: 10px;
}
.ingredientname{
	color:#F57F17;
}
.stepdes{
	margin-top:10px;
	margin-bottom:10px;
}
/*select photo button  */
.photobutt{
	margin-bottom:10px;
}
.editrecipe-bgcolor{
	background-color: #c8ad51;
	border-width:1px;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-color: #c8ad51;
}
/* button creat page */
#create-button{
	margin-top: 30px;
}
#add-step-button{
	margin-top: 20px;
}
/* font create and edit page */
.label-create{
	font-size: 15px;
}
