@CHARSET "UTF-8";
.navbar-fixed-top{
	background-color: #ffa000;
	border-color: #e7e7e7;
}
.navbar-fixed-top .navbar-nav>li>a:hover {
	background-color: #ffcc77;
	color: #000;
}
.navbar-header a,.navbar-nav li a{
	color:white;
}
.logo_brand{
	max-width:30px;
	max-height:30px;
	
}
.navbar-toggle{
	border-color: #9d5804; 
}
.navbar-toggle .icon-bar{
	background-color: #9d5804;	
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,.nav>li>a:hover, .nav>li>a:focus{
	background-color: #ffa000;
}
.dropdown-menu  li a{
	color:black;
}
.space-nav{
	
	height: 60px;
}
.col-xs-6{ 
	}
.media-heading {
	margin-top: 80px;
	text-align: center;
}
.embed-responsive-16by9{
	margin: 0 50px 50px 50px;
}
form-horizontal col-xs-6 col-sm-6{
	margin-left: 350px;
}